html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
	background: #070707 url(../img/bg-body.jpg) no-repeat 50% 0;
	min-width: 960px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', 'Arial', 'Helvetica', sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
}

a {
	color: #000;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
}

img {
	max-width: 100%;
	height: auto; 
}

button {
	border: none;
	outline: none;
	cursor: pointer;
}

button.full {
	width: 100%;
}

input {
	color: #000;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	border: 2px solid #000;
	padding: 10px 15px;
}

input:focus {
	border: 2px solid #663d15;
}
.clearfix {
    display: table;
    content: '';
    clear: both;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #000;
    opacity: 1;
    font-family: 'PT Sans Narrow', 'Arial', 'Helvetica', sans-serif;
}

::-moz-placeholder { /* Firefox 19+ */
	color: #000;
	opacity: 1;
	font-family: 'PT Sans Narrow', 'Arial', 'Helvetica', sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
}

:-ms-input-placeholder { /* IE 10+ */
	color: black;
	opacity: 1;
	font-family: 'PT Sans Narrow', 'Arial', 'Helvetica', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
	color: #000;
	opacity: 1;
	font-family: 'PT Sans Narrow', 'Arial', 'Helvetica', sans-serif;
	font-weight: bold;
}

.button {
	display: inline-block;
	padding: 12px 35px;
	margin-right: 16px;
	background-color: #000;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', 'Arial', 'Helvetica', sans-serif;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	transition: 0.5s background-color;
}

.button:hover, .button:active {
	background-color: #663d15;
}
.container {
	width:  940px;
	margin: 0 auto;
}

.main-header {
	background: #000;
	margin-bottom: 60px;
}

.main-header-links{
	float: left;
	width: 720px;
}

.main-header-links ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.main-header-links li {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.main-header-links a, 
.main-header-login a {
	display: block;
	vertical-align: top;
	padding: 25px 20px;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	line-height: 20px;
	text-decoration: none;
	transition: 0.5s background-color;
}

.main-header-links ul li a:hover, 
.main-header-login a:hover {
	background-color: #242424;
}

.main-header-links .active:before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 20px;
	left: 20px;
	height: 4px;
	background-color: #fff;
}


.main-header-login {
	float: right;
	max-width: 140px;
	position: relative;
}

a.main-login-btn{
	padding-left: 55px;
	transition: 0.5s background-color;
}

.main-login-btn:before {
	content: "";
	background: url(../img/login-ico.png) no-repeat 50% 50%;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 22px;
	top: 50%;
	margin-top: -9px;
	opacity: 0.3;
}

.main-login-btn:hover::before {
	opacity: 1;
}

.main-logo {
	width: 368px;
	margin:  0 auto;
	margin-bottom: 25px;
}

.advantages {
	margin-bottom: 80px;
}

.advatages-item {
	float: left;
	width: 300px;
	text-align: center;
	margin-right: 20px;
}

.advatages-item:last-child {
	margin-right: 0;
}

.advatages-item h2 {
	position: relative;
	display: inline-block;
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 30px;
	padding-bottom: 35px;
}

.advatages-item h2:after {
	position: absolute;
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	background-color: #fff;
	transform: rotate(45deg);
	top: 62px;
	left: 50%;
	margin-left: -10px;
}

.advatages-item p {
	font-size: 14px;
	line-height: 24px;
	padding: 0 10px;
}

.main-content {
	position: relative;
	width: 940px;
	min-height: 420px;
	background-color: #f4f1ee;
	color: #000;
	padding: 50px 80px;
	margin-bottom: 50px;

}

.main-content:last-child {
	margin-bottom: 65px;
}

.main-content:after {
	content: "";
	background: url('../img/content-shadow.png') no-repeat;
	width: 8px;
	height: 278px;
	position: absolute;
	top: 90px;
	left: 50%;
	margin-left: -4px;
}

.main-content h2 {
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 42px;
}

.main-news, .main-contacts {
	margin-bottom: 25px;
}

.main-content p {
	font-size: 14px;
	line-height: 24px;
}

.main-content time {
	font-size: 14px;
	line-height: 24px;
	text-transform: none;
	font-weight: normal;
}


.main-content-left {
	float: left;
	width: 380px;
}

.main-content-right {
	float: right;
	width: 300px;
}

.main-content-right-gallery {
	border: 7px solid #fff;
	background-color: #e5e5e5;
	overflow: hidden;
	margin-bottom: 37px;
	width: 300px;
	height: 178px;
}


.gallery-buttons button {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 12px 50px;
	color: #fff;
	font-family: 'PT Sans Narrow', 'Arial', 'Helvetica', sans-serif;
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	font-weight: 700;
	text-decoration: none;

}

.gallery-buttons .btn-back {
	float: left;
}
.gallery-buttons .btn-next {
	float:  right;
}

.main-content-right input {
	width: 140px;
	margin: 0 20px 20px 0;
	padding: 10px 15px;
	text-transform: uppercase;
	color: #000;
	font-family: 'PT Sans Narrow', 'Arial', 'Helvetica', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	border: 2px solid #000;
}

.main-content-right input:nth-child(2n) {
	margin-right: 0;
}

input:focus {
	border: 2px solid #663d15;
}

.main-footer {
	background: #212121 url(../img/bg-footer.jpg) 0 0;
	padding-top: 60px;
	padding-bottom: 40px;
	color: #fff;
	font-style: normal;
}

.main-foooter-copyright p,
.main-foooter-social p {
	margin-bottom: 20px;
}

.main-footer a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	font-style: normal;
}

.main-footer address {
	font-style: normal;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
}

.main-foooter-contact {
	float: left;
	width: 350px;
	margin-right: 50px;
}

a.main-footer-contact-link {
	text-decoration: underline;
}

.main-foooter-social {
	float: left;
	width: 160px;
	text-align: center;
}

a.soc-button {
	display: inline-block;
	vertical-align: top;
	background: #000 url(../img/soc-sprite.png) no-repeat 0 0;
	text-align: center;
	width: 40px;
	height: 40px;
	font-size: 0px;
	margin-right: 5px;
	transition: 0.5s all;

}
a.soc-button:hover {
	background-color: #fff;
}

.main-foooter-social .vk {
	background-position: -2px 8px;
}

.main-foooter-social .vk:hover {
	background-position: -2px -24px;
}

.main-foooter-social .fb {
	background-position: -45px 8px;
}
.main-foooter-social .fb:hover {
	background-position: -45px -24px;
}

.main-foooter-social .insta {
	background-position: -90px 8px;
}

.main-foooter-social .insta:hover {
	background-position: -90px -24px;
}

.main-foooter-copyright {
	float: right;
	width: 140px;
	text-align: center;
}


/*Стили втутренних страниц*/

.inner-page {
	background: #f4f1ee;
}

.inner-page .main-header {
	margin-bottom: 0;
}

.inner-logo {
	float: left;
	width: 151px;
	height: 70px;
}

.inner-content {
	position: relative;
	width: 100%;
	min-height: 420px;
	background-color: #f4f1ee;
	padding: 50px 80px;
	color: #000;
}

.inner-title {
	margin-bottom: 40px;
}	

.inner-title h1 {
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 20px
}

.inner-title ul {
	list-style-type: none;
}

.inner-title li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
}

.inner-title li a{
	text-decoration: none;
}

.inner-title li span {
	color: #aba9a7;
}

.inner-title li:after {
	content: "";
	position: absolute;
	background: #000;
	width: 8px;
	height: 8px;
	top: 50%;
	right: -25px;
	margin-top: -4px;
	transform: rotate(45deg);
}

.inner-title li:last-child:after {
	display: none;
}

.inner-caption {
	position: relative;
	margin-bottom: 65px
}

.inner-caption h2 {
	overflow: hidden;
	text-align: center;
	font-size: 48px;
	line-height: 62px;
}

.inner-caption h2:before, .inner-caption h2:after {
	content: "";
	position: relative;
	display: inline-block;
	vertical-align: super;
	height: 3px;
	width: 100%;
	background: #000;
}

.inner-caption h2:before {
    margin-left: -100%;
    left: -20px;
}

.inner-caption h2:after {
    margin-right: -100%;
    right: -20px;
}

.inner-mcontent {
	margin-bottom: 65px;
}

.inner-mcontent h3, .inner-fcontent h3 {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 35px;
}

.inner-mcontent .better {
	list-style-type: none;
}

.inner-mcontent .better li {
	position: relative;
	padding-left: 20px;
	padding-bottom: 20px;
}

.inner-mcontent .better li:before {
	content: "";
	position: absolute;
	background: #000;
	width: 8px;
	height: 8px;
	top: 50%;
	left: 0;
	margin-top: -13px;
	transform: rotate(45deg);
}

.inner-mcontent-left {
	float: left;
	width: 460px;
	margin-right: 20px;
}

.inner-mcontent-right {
	float: right;
	width: 460px;
}

.service-price {
	width: 100%;
	border-collapse: collapse
}

.service-price td{
	width: 50%;
	padding: 12px 20px;
	border: 2px solid #000;
}

.service-price td:nth-child(2n) {
	text-align: center;
}

.inner-fcontent-left {
	float: left;
	width: 380px;
	margin-right: 100px;
}

.inner-fcontent-right {
	float: right;
	width: 380px;
}

.inner-fcontent p {
	font-size: 14px;
	line-height: 24px;
}

.inner-page .main-footer {
	background: 
	linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 25%),
	#212121 url(../img/bg-footer.jpg) 0 0;
}

/* Стили магазина */

.shop-container-left {
	float: left;
	width: 220px;
}

.shop-container-right {
	float: right;
	width: 700px;
}

.shop-filters-title {
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 25px;
	margin-top: 25px;
}

.shop-filters-title:first-child {
	margin-top: -5px;
}

.products-list {
	margin-bottom: 25px;
}

.product_inner {
	width: 220px;
	height: 286px;
	background: #fff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	margin-right: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	float: left;
	border-radius: 4px;
}

.product_inner:hover {
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
	transition: 0.5s all;
}


.product_inner:nth-child(3n) {
	margin-right: 0;
}

.product-figure {
	width: 220px;
	height: 165px;
	overflow: hidden;
}

.product-title-container {
	padding: 15px;
}

.product-header {
	width: 100%;
	height: 40px;
	margin-bottom: 7px;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
}

.product-header h3, 
.product-header p {
	font-size: 14px;
	line-height: 18px;
	text-transform: none;
	text-decoration: none;
}

.product-header p {
	text-transform: uppercase;
}

.product-footer {
	background: #e5e5e5;
	width: 100%;
	height: 43px;
}

.price-title {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 0 26px;
	width: 109px;
	line-height: 43px;
}

.buy-button {
	background: #000;
	display: inline-block;
	vertical-align: top;
	width: 78px;
	padding: 0 19px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	line-height: 43px;
}

.buy-button:hover, .buy-button:active {
	background-color: #663d15;
}


.new-checkbox,
.new-radio {
	cursor: pointer;
	display: block;
	padding-bottom: 20px;
}


.new-checkbox:hover .filter-name,
.new-radio:hover .filter-name{
	color: #5d3f1e;
	transition: color 0.3s;
}


.new-checkbox input:enabled,
.new-checkbox input:disabled,
.new-radio input:enabled,
.new-radio input:disabled {                                         /*     Скрываем стандартный чекбокс       */
	display: none;
}



.new-checkbox input:enabled + .indicator,
.new-checkbox input:disabled + .indicator,
.new-radio input:enabled + .indicator,
.new-radio input:disabled + .indicator {                /*      Рисуем в indicator новый квадрат       */ 
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 10px;
	border: 2px solid #000;
	clear: both;
}

.new-radio input:enabled + .indicator,
.new-radio input:disabled + .indicator {
	border-radius: 50%;
}

.new-checkbox input:checked + .indicator:before,
.new-checkbox input:checked + .indicator:after  {     /*     Если checkbox checked, то перед indicator рисуем / и /     */ 
	content: "";
	position: absolute;
	top: 1px;
	left: 5px;
	display: block;
	width: 2px;
	height: 10px;
	background-color: #000;
	transform: rotate(-45deg);
}


.new-checkbox input:checked + .indicator:after{      /*   и  переворачиваем вторую палочку \     */
	transform: rotate(45deg);
}


.new-radio input:checked + .indicator:before {     /*     Если radio checked, то перед indicator рисуем черную точку     */ 
	content: "";
	position: absolute;
	top: 3px;
	left: 3px;
	display: block;
	width: 6px;
	height: 6px;
	background-color: #000;
	border-radius: 50%;
}


.disabled {
	cursor: not-allowed!important;
}

.disabled .filter-name {
	color: #acaba9!important;
}

.disabled .indicator,
.disabled .indicator:before,
.disabled .indicator:after {
	border: 2px solid #acaba9!important;
}



.pagination {
	list-style-type: none;
	font-size: 0;
}

.pagination li {
	background: #000;
	display: inline-block;
	vertical-align: top;
	width: 43px;
	height: 43px;
	margin-right: 7px;
	font-size: 14px;
	line-height: 43px;
	text-align: center;
}

.pagination li:hover {
	background-color: #663d15;
}

.pagination .active-p,
.pagination .active-p:hover {
	background-color: #fff;
	color: #000;

}

.pagination li a{
	display: block;
	color: #fff;
	text-decoration: none;
	line-height: 43px;
}


/* Single Item - Shop */

.item-container {
	margin-top: 55px;
}

.item-container-left {
	float: left;
	width: 460px;
	margin-right: 90px;
}

.item-container-right {
	float: right;
	width: 390px;
}

.item-big-img img{
	min-width: 460px;
	overflow: hidden;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
}

.figure-miniature {
	list-style-type: none;
	width: 100%;
	text-align: center;
	font-size: 0;
}


.item-small-img {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)
}

.item-small-img:last-child {
	margin-right: 0;
}


.item-status-articul {
	width: 100%;
	margin: 10px 0 30px 0;
}


.item-status {
	float: left;
}

.item-articul {
	float: right;
	color: #adadad;
}

.item-description {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 35px;
	padding-right: 10px;
}

.item-price {
	margin-bottom: 64px;
}

.price-summ {
	background: #e4e4e4;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 0 26px;
	width: 109px;
	line-height: 43px;
}

.item-include {
	margin-bottom: 20px;
}

.include-title {
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 35px;
}

.include-list ul {
	list-style-type: none;
}

.include-list li {
	position: relative;
	display: block;
	padding-left: 20px;
	font-size: 14px;
	line-height: 24px;
}

.include-list li:after {
	content: "";
	position: absolute;
	background: #000;
	width: 8px;
	height: 8px;
	top: 50%;
	left: 0;
	margin-top: -4px;
	transform: rotate(45deg);
}



/*Modal login form*/

.modal-login {
	position: relative;
	background-color: #f9f6f3;
	width: 460px;
	height: 385px;
	position: fixed;
	display: block;
	top: 120px;
	left: 50%;
	margin-left: -230px;
	padding: 50px 80px;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.75);
	color: #000;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	display: none;
}


.modal-close {
	position: absolute;
    top: 0;
    right: -35px;
    width: 25px;
    height: auto;
    font-size: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}


.modal-close:before,
.modal-close:after {
	content: "";
	position: absolute;
	width: 5px;
	height: 25px;
	background-color: #d1d1d1;
	border-radius: 3px;
	transform: rotate(45deg);
}

.modal-close:after {
	transform: rotate(-45deg);
}


.modal-title {
	font-size: 30px;
	line-height: 1.2;
	text-align: left;
	margin-bottom: 30px;
}

.modal-title + p {
	margin-bottom: 15px;
}

.login-form input[type="text"], 
.login-form input[type="password"] {
	width: 100%;
	padding: 10px 40px 10px 15px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.login-ico {
	background: url('../img/login-f-ico.png') no-repeat 100% 0;
	background-position: 97% 50%;
}

.password-ico {
	background: url('../img/password-f-ico.png') no-repeat 100% 0;
	background-position: 97% 50%;
}

.login-remember {
	width: 100%;
	margin: 8px 0 15px 0;
}

.login-remember .remember-me {
	float: left;
}


.login-remember .forget-pass {
	float: right;
}